# noip-multiwan-monitor systemd timer
# Author: Rubem Swensson
# Co-Authors: ChatGPT + Codex
# Changelog:
# - 2026-05-17: Renamed visible project references to multi-WAN.
# - 2026-05-17: Initial one-minute timer.

[Unit]
Description=Run No-IP Multi-WAN Monitor every minute

[Timer]
OnBootSec=30s
OnUnitActiveSec=1min
AccuracySec=10s
Unit=noip-monitor.service
Persistent=true

[Install]
WantedBy=timers.target
